* {
  font-family: "Montserrat", sans-serif !important;
  color: white;
  font-weight: 600;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif !important;
  color: white;
  font-weight: 600;
}

body {
  background-color: #121212;
}

body-wrapper {
  overflow-x: hidden;
}

.justify-text {
  text-align: justify;
}

.active {
  color: #ff1313;
}

button {
  user-select: auto;
  background: none;
  border: 2px solid #ff1313;
  padding: 5px 15px;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
button::after {
  content: "";
  position: absolute;
  background-color: #ff131330;
  height: 150%;
  width: 120%;
  left: -6px;
  top: -67px;
  transform: skew(1deg, 19deg);
  z-index: 0;
  transition: all 150ms ease-in-out;
}
button:hover::after {
  transition: all 150ms ease-in-out;
  top: 17px;
}
button a {
  color: #ff1313;
}

.main-heading {
  position: relative;
  z-index: 2;
}
.main-heading::after {
  position: absolute;
  content: "";
  left: 10px;
  top: 50%;
  height: 120%;
  width: 5px;
  transform: translateY(-50%);
  background-color: #ff1313;
}
.main-heading::before {
  position: absolute;
  z-index: -1;
  left: 37px;
  width: max-content;
  font-size: 60px;
  color: #ff1313;
  opacity: 0.2;
  font-weight: 700;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 40em) {
  .main-heading::before {
    font-size: 45px;
  }
}

a {
  text-decoration: none;
  color: white;
}
a:focus {
  color: white;
}
a:hover {
  color: #ff1313;
}

#footer a {
  color: #ff1313;
}

.image-wrapper {
  object-fit: contain;
}
.image-wrapper img {
  width: 100%;
}

.menu-wrapper .logo {
  min-height: 40px;
  max-height: 70px;
  background-image: url("../assests/logo.png");
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
@media (max-width: 50em) {
  .menu-wrapper .logo {
    height: 60px;
  }
}
.menu-wrapper .logo a {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 3;
}
.menu-wrapper .logo a::after {
  background-color: transparent;
}
.menu-wrapper a {
  overflow: hidden;
  position: relative;
}
.menu-wrapper a::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  left: -100%;
  bottom: 0px;
  background-color: #ff1313;
  transition: all 250ms ease-in-out;
}
.menu-wrapper a:hover {
  font-weight: 700;
  color: #ff1313;
}
.menu-wrapper a:hover::after {
  left: 0;
  transition: all 250ms ease-in-out;
}

.sticky-menu {
  background: #121212;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 500;
}

.banner {
  height: 100vh;
}
.banner .swiper-slide {
  position: relative;
  display: flex;
  justify-content: center;
}
.banner .swiper-slide img {
  object-fit: cover;
}
.banner .swiper-slide .gray {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: #27272787;
}
@media (max-width: 70em) {
  .banner {
    height: 50vh;
  }
}

.service-card {
  box-shadow: 2px 3px 8px 2px #ffffff26;
  overflow: hidden;
}
.service-card:hover .image {
  transform: scale(1.1);
  transition: all 400ms ease-in-out;
}
.service-card .image {
  width: 100%;
  min-height: 220px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: all 400ms ease-in-out;
}
.service-card .image .icon {
  position: absolute;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
}
.service-card .image .icon .img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.service-card .info {
  min-height: 350px;
}

.management .image {
  background-image: url("../assests/services/Project-Mangement.jpg");
}
.management .icon {
  background-color: white;
}
.management .icon .img {
  background-image: url("../assests/icons/project.png");
}

.transport .image {
  background-image: url("../assests/services/material-transportation01.jpg");
}
.transport .icon {
  background-color: white;
}
.transport .icon .img {
  background-image: url("../assests/icons/delivery-truck.png");
}

.assembly .image {
  background-image: url("../assests/services/assembly.jpg");
}
.assembly .icon {
  background-color: white;
}
.assembly .icon .img {
  background-image: url("../assests/icons/wrench.png");
}

.application .image {
  background-image: url("../assests/services/calibration.jpg");
}
.application .icon {
  background-color: white;
}
.application .icon .img {
  background-image: url("../assests/icons/slider.png");
}

.disassembly .image {
  background-image: url("../assests/services/disassembly.jpg");
}
.disassembly .icon {
  background-color: white;
}
.disassembly .icon .img {
  background-image: url("../assests/icons/breaking.png");
}

.fair .image {
  background-image: url("../assests/products/kkt-chiller.png");
}
.fair .icon {
  background-color: white;
}
.fair .icon .img {
  background-image: url("../assests/icons/air-cooler.png");
}

.distribution .image {
  background-image: url("../assests/services/mri_cage.jpg");
}
.distribution .icon {
  background-color: white;
}
.distribution .icon .img {
  background-image: url("../assests/icons/logistics.png");
}

.value .image {
  background-image: url("../assests/services/value.jpg");
}
.value .icon {
  background-color: white;
}
.value .icon .img {
  background-image: url("../assests/icons/value.png");
}

.head_link {
  position: relative;
}
.head_link a {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}

.about-images {
  position: relative;
  display: flex;
  align-items: stretch;
}
.about-images .img {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
  height: 500px;
  width: 60%;
  position: absolute;
}
.about-images .right {
  background-image: url("../assests/company2.jpg");
  background-position: right;
  z-index: 2;
  right: -5px;
  transform: scaleX(-1);
  top: -5px;
}
.about-images .left {
  background-image: url("../assests/company.jpg");
  background-position: center;
  z-index: 3;
  left: 0px;
  bottom: -5px;
}
.about-images:hover .right {
  top: 0%;
  right: 0px;
  transition: all 300ms ease-in-out;
}
.about-images:hover .left {
  bottom: 0%;
  left: 0px;
  transition: all 300ms ease-in-out;
}

.partners {
  background-color: #000;
}
.partners h4 {
  color: white;
}
.partners h5 {
  color: #9a9a9a;
}

.career-banner {
  background-image: url("../assests/career-ba.jpeg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  position: relative;
}
.career-banner .gray {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  background: #2e2e2e85;
  height: 100%;
  width: 100%;
}
.career-banner h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.carrer-bottom {
  background-image: url("../assests/carrer-bottom.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  position: relative;
}
.carrer-bottom h5 {
  color: white;
  position: relative;
  z-index: 2;
}
.carrer-bottom button {
  position: relative;
  z-index: 2;
}
.carrer-bottom .gray_background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  background: #2e2e2e85;
}

/*# sourceMappingURL=main.css.map */
