<div class="menu-wrapper w-100 p-0 m-auto">
    <div class="desktop-menu container-fluid py-4 row m-auto w-100 d-md-flex d-none">
        <div class="col-md-3 col-lg-3">
            <div class="logo w-100">
                <a href="index.html"></a>
            </div>
        </div>
        <div class="col-md-9 col-lg-9 d-flex justify-content-between align-items-center">
            <a id="index" onClick="closeMenu()" href="index.html">HOME</a>
            <a id="services" onClick="closeMenu()" href="services.html">SERVICES</a>
            <a id="products" onClick="closeMenu()" href="products.html">PRODUCTS</a>
            <a id="aboutus" onClick="closeMenu()" href="aboutus.html">ABOUT US</a>
            <a id="careers" onClick="closeMenu()" href="careers.html">CAREER</a>
            <a id="contactus" onClick="closeMenu()" href="contactus.html">CONTACT US</a>
        </div>
    </div>
    <div class="mobile-menu row m-auto w-100 d-xs-block d-sm-block d-md-none d-lg-none">
        <div class="col-md-3 col-lg-3">
            <div class="logo"></div>
        </div>
        <input type="checkbox" id="navcheck" role="button" title="menu">
        <label for="navcheck" aria-hidden="true" title="menu">
            <span class="burger">
                <span class="bar">
                    <span class="visuallyhidden">Menu</span>
                </span>
            </span>
        </label>
        <nav id="menu">
            <a id="index" onClick="closeMenu()" href="index.html">HOME</a>
            <a id="services" onClick="closeMenu()" href="services.html">SERVICES</a>
            <a id="products" onClick="closeMenu()" href="products.html">PRODUCTS</a>
            <a id="aboutus" onClick="closeMenu()" href="aboutus.html">ABOUT US</a>
            <a id="careers" onClick="closeMenu()" href="careers.html">CAREER</a>
            <a id="contactus" onClick="closeMenu()" href="contactus.html">CONTACT US</a>
        </nav>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#navcheck").change(function (res) {
            if ($("#navcheck").is(":checked")) {
                $('body').css('overflow-y', 'hidden')
            } else {
                $('body').css('overflow-y', 'auto')
            }
        });

        $(window).scroll(() => {
            if ($(window).scrollTop() >= 5) {
                $('.menu-wrapper').addClass('sticky-menu')
            } else {
                $('.menu-wrapper').removeClass('sticky-menu')
            }
        })
        console.log(window.location, window.location.pathname, window.location.pathname.split('/'))
        const currentPage = window.location.pathname.split('/')[2].split('.')[0]
        if (window.innerWidth >= 768) {
            $(`.desktop-menu #${currentPage}`).addClass('active')
        } else {
            $(`.mobile-menu #${currentPage}`).addClass('active')
        }

    })
</script>